<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Grocery List</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- App header -->
  <ion-content padding>
    <ion-list>
      <ion-list-header>
        <h5>Items</h5>
      </ion-list-header>
    
      <!-- First sliding item -->
      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="egg-outline"></ion-icon>
          <h6>2 Eggs</h6>
        </ion-item>
        <ion-item-options side="end">
          <ion-button ion-button color="primary">
            <ion-icon name="trash-outline"></ion-icon>
            Done
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
      
      <!-- Second sliding item -->
      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="cafe-outline"></ion-icon>
          <h6> 1 Coffee</h6>
        </ion-item>
        <ion-item-options side="end">
          <ion-button ion-button color="primary">
            <ion-icon name="trash-outline"></ion-icon>
            Done
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

      <!-- Third skiding item -->
      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="nutrition-outline"></ion-icon>
          <h6> 5 Apples</h6>
        </ion-item>
        <ion-item-options side="end">
          <ion-button ion-button color="primary">
            <ion-icon name="trash-outline"></ion-icon>
            Done
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

      <!-- Fourth sliding item -->
      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="pizza-outline"></ion-icon>
          <h6>3 Frozen Pizzas</h6>
        </ion-item>
        <ion-item-options side="end">
          <ion-button ion-button color="primary">
            <ion-icon name="trash-outline"></ion-icon>
            Done
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-content>
</ion-app>
